<h4>Profile Page</h4>

<p>Here are your cohorts:</p>

<!-- Insert loop iterating over the cohorts

For each cohort, list (1) cohort name and (2) member count.

Each cohort name will link to that cohort's profile page,
where the groups will be listed -->
