ul {
  list-style: none;
}

body {
    background: url(https://i.imgur.com/4OlgZbFh.jpg) no-repeat top center;
    background-size: cover;
}

.first {
  display: inline-block;
  padding: 0px 10px;
}

.group {
  display: inline-block;
  margin: 24px;
  float: left;
  background-color: #aaddee;
  border-radius: 16px;
  border: 1px solid #aabbcc;
  border-top: 1.75em solid #aabbcc;
}

.group__title {
  font-size: 1.75em;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  top: -1em;
}

.group__content {
  position: relative;
  top: -1em;
}

.grouping {
  display: inline-block;
  width: 75%;
  background-color: #dddddd;
  border-radius: 16px;
  margin: 24px;
}

.profile-title {
	margin: auto;
	width: 50%;
	text-align: center;

}

.profile-subtitle {
	margin: auto;
	width: 50%;
	text-align: center;

}

.cohorts-list {
	list-style: none;
}

.cohort-object {
	display: inline;
	margin: auto;
	width: 50%;
	text-align: center;

}

/*---------------------*/

#title {
  text-align: center;
  font-size: 3em;
  color: #fff;
  margin: 10px 38% 0px 38%;
  background: #aaddee;
  color: #292b2c;
  border-radius: 10px;
  opacity: 0.85;
}

.first {
  display: inline-block;
  margin: auto 10px;
  padding: 0px 10px;
  background: #aaddee;
  border-radius: 5px;
  opacity: 0.85;
}

.first a {
  color: #292b2c;
}

.make-cohort-container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.cohort-form-div {
  margin: 10px auto;
  padding: 5px;
  width: 25%;
  background: #aaddee;
  border-radius: 5px;
  opacity: 0.85;
}

.cohort-form-div:last-child {
  background: none;
}

.show-cohorts-container {
  text-align: center;
}

.show-cohorts-container p {
  font-size: 2.5em;
  padding: 0 20px;
}

.show-cohort-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0 30%;
  background: #aaddee;
  opacity: 0.85;
  border-radius: 10px;
}

.show-cohort-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-cohort-container div:last-child li {
  padding-right: 35px;
  font-size: 1.1em;
}

.groupings {
  display: flex;
  justify-content: center;
}
