ul {
  list-style: none;
  text-align: center;
}

.group {
  display: inline-block;
  margin: 24px;
  float: left;
  background-color: #aaddee;
  border-radius: 16px;
  border-top: 1.75em solid #aabbcc;
  opacity: 0.85;
}

.group__title {
  font-size: 1.75em;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  top: -1em;
}

.group__content {
  position: relative;
  top: -1em;
}

.first {
  display: inline-block;
  padding: 0px 10px;
}

.profile-title {
	margin: auto;
	width: 50%;
	text-align: center;

}

.profile-subtitle {
	margin: auto;
	width: 50%;
	text-align: center;

}

.cohorts-container {
	margin: auto;
	width: 50%;
	text-align: center;
	display: inline-block;
	margin-left: 75px;

}

.cohorts-list {
	list-style: none;
}

.cohort-object {
	display: inline;
	margin: auto;
	width: 50%;
	text-align: center;

}
body {
    background-image: url("https://i.imgur.com/4OlgZbFh.jpg");
    /*background-color: #cccccc;*/
}
