ul {
  list-style: none;
}

body {
    background: url(https://i.imgur.com/4OlgZbFh.jpg) no-repeat top center;
    background-size: cover;
}

.first {
  display: inline-block;
  padding: 0px 10px;
}

.group {
  display: inline-block;
  margin: 24px;
  float: left;
  background-color: #aaddee;
  border-radius: 16px;
  border: 1px solid #aabbcc;
  border-top: 1.75em solid #aabbcc;
}

.group__title {
  font-size: 1.75em;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  top: -1em;
}

.group__content {
  position: relative;
  top: -1em;
}

.grouping {
  display: inline-block;
  width: 75%;
  background-color: #dddddd;
  border-radius: 16px;
  margin: 24px;
}

.profile-title {
	margin: auto;
	width: 50%;
	text-align: center;

}

.profile-subtitle {
	margin: auto;
	width: 50%;
	text-align: center;

}

.cohorts-container {
	margin: auto;
	width: 50%;
	text-align: center;
	display: inline-block;
	margin-left: 75px;

}

.cohorts-list {
	list-style: none;
}

.cohort-object {
	display: inline;
	margin: auto;
	width: 50%;
	text-align: center;

}

.make-cohort-container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cohort-form-div {
  margin: 0 auto;
  border: 1px solid red;
  width: 25%;
}

#title {
  text-align: center;
  font-size: 2em;
  color: #fff;
