ul {
  list-style: none;
  text-align: center;
}

.first {
  display: inline-block;
  padding: 0px 10px;
}

.profile-title {
	margin: auto;
	width: 50%;
	text-align: center;

}

.profile-subtitle {
	margin: auto;
	width: 50%;
	text-align: center;

}

.cohorts-container {
	margin: auto;
	width: 50%;
	text-align: center;
	display: inline-block;
	margin-left: 75px;

}

.cohorts-list {
	list-style: none;
	margin: auto;
	width: 50%;
	text-align: center;
	list-style: none;

}

.cohort-object {
	margin: auto;
	width: 50%;
	text-align: center;

}

body {
    background-image: url("https://i.imgur.com/4OlgZbFh.jpg");
    /*background-color: #cccccc;*/
}